* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #2C2623;
    color: #ffffff;
}


img {
    vertical-align: bottom;
}

.container {
    max-width: 317px;
    margin: 20px auto;
}

/* Img */
.product-img {
    width: 317px;
    height: 317px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

/* main */
main {
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 18px 34px;
}

/*Info */


h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

h2>small {
    display: block;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    color: #E98224;
    margin: 8px 0;
}

a {
    text-decoration: none;
    display: block;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
}

.btn-wrap {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    margin: 20px 0;
    padding: 9px 13px;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    gap: 8px;
    cursor: pointer;
}

.btn-cart {
    color: #E98224;
    background: #ffffff;
}

.btn.btn-buy {
    color: #ffffff;
    background: #E98224;
}

/* About & Interests */

.text {
    line-height: 150%;
    margin: 20px 0;
}

.title-text {
    font-weight: 700;
    font-size: 16px;
}

.text>p {
    font-size: 10.24px;
    font-weight: 400;
}

/* Footer */

footer {
    background: #675B48;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 19.5px 47.5px;
    display: flex;
    justify-content: space-around;

}